# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & build output
node_modules
.output
.wxt
dist
dist-zip
stats.html
stats-*.json
web-ext.config.ts

# Test coverage
coverage

# Editor / IDE
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
